body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form > input,
form > button {
  min-height: 3rem;
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-size: 2rem;
  line-height: 2rem;
}
/* --------------------------*/

.list-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.list-actions .title {
  font-weight: bold;
}
.list-actions button {
  font-size: 1.1rem;
  padding: 0.2rem 0.5rem;
}
.list-actions button.active {
  background-color: #36f;
  color: #fff;
}

/* --------------------------*/

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.list.empty {
  text-align: center;
  font-style: italic;
  padding: 2rem;
  font-size: 2rem;
  color: #999;
  border: 0.2rem solid #ccc;
}
.list > .item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 0.2rem solid #ccc;
  border-left: 0.5rem solid #000;
  position: relative;
}
.list > .item[data-state="done"] {
  background-color: #ccc;
}
.list .state {
  display: none;
  padding: 0.3em 0.5em;
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: #fff;
}
.list > .item[data-state="done"] .state {
  display: block;
}
.list > .text {
  font-size: 1.5rem;
}
.list .actions {
  display: flex;
  gap: 1rem;
}
.list > actions button {
  padding: 0.2em 0.5em;
}
.list .divider {
  width: 0.1rem;
  height: 100%;
  background-color: #ccc;
}
.hidden {
  display: none;
}
.toast {
  display: none;
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 24rem;
  background-color: #fff;
  border: 0.1rem solid #ccc;
  box-shadow: 0 0.2rem 0.4rem #0003;
}
.toast.active {
  display: flex;
  align-items: center;
}
.toast > .icon {
  width: 4rem;
  padding: 2rem;
}
.toast > .icon > svg {
  display: none;
  width: 2rem;
  height: 2rem;
}
.toast[data-state="success"] > .icon > svg:nth-child(1),
.toast[data-state="info"] > .icon > svg:nth-child(2),
.toast[data-state="warning"] > .icon > svg:nth-child(3),
.toast[data-state="error"] > .icon > svg:nth-child(4) {
  display: block;
}
.toast[data-state=""] > .icon {
  display: none;
}
.toast > .text {
  padding: 1rem;
  text-align: center;
}
.toast > .text > .title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.toast[data-state="success"] > .text > .title {
  color: green;
}
.toast[data-state="info"] > .text > .title {
  color: blue;
}
.toast[data-state="warning"] > .text > .title {
  color: yellow;
}
.toast[data-state="error"] > .text > .title {
  color: red;
}
.toast > .close {
  width: 4rem;
  padding: 2rem;
  margin-left: 0 auto;
}
.toast > .close > svg {
  width: 2rem;
  height: 2rem;
}
